header img {
    width: 190px;
    height: 45px;
}

.header-brand-img {
    display: flex;
}

.container-fluid div {
    display: flex;
    margin-right: 40px;
}

.views-element-container .row {
    display: flex;
    align-items: stretch;
}

.views-element-container .row .card {
    height: 100%;
    padding: 16px;
}

.views-field {
    height: 100%;
}

.carousel-item {
    position: relative;
    text-align: center;
}

.carousel-caption {
    position: absolute !important;
    top: 50%;
    left: 50% !important;
    bottom: unset !important;
    right: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
    transform: translate(-50%, -50%);
}

.carousel {
    width: 1900px;
    height: 800px;
}

.carousel img {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}