header img {
    width: 190px;
    height: 45px;
}

.header-brand-img {
    display: flex;
}

.container-fluid div {
    display: flex;
    margin-right: 40px;
}

.views-element-container .row {
    display: flex;
    align-items: stretch;
}

.views-element-container .row .card {
    height: 100%;
    padding: 16px;
}

.views-field {
    height: 100%;
}

.carousel-item {
    position: relative;
    text-align: center;
}

.carousel-caption {
    position: absolute !important;
    top: 50%;
    left: 50% !important;
    bottom: unset !important;
    right: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
    transform: translate(-50%, -50%);
}

.carousel {
    width: 100%;
    height: 800px;
}

.carousel img {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.footer-branding img {
    width: 180px;
    height: 40px;
}

.footer-icon-list {
    list-style-type: none;
}

.footer-icons {
    float: left;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.left-radius {
    border-radius: 50px 0px 0px 50px;
}

.right-radius {
    border-radius: 0px 50px 50px 0px;
}

footer a:link {
    text-decoration: none;
}

footer a {
    color: black;
}

.slider-button-left {
    margin-right: 32px;
}

.slider-list {
    float: left;
    margin-right: 32px;
}